
html{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    overflow: hidden;
}

body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    background-color: white;
    overflow: scroll;
    overflow-x: hidden;
}

 .banner{
     margin:0px auto;
     height: 35%;
     overflow: hidden;
     border: solid;
     background-color: black;
     border-color: black;
     border-width: 0px 0px 5px 0px;
     position: relative;

 }
 #ai{

     display: block;
     width:50%;
     height: auto;
     position: relative;
     margin-left: auto;
     margin-right: auto;
     

 }
 .Title{
     position: absolute;
     top: 35%;
     left: 48%;
     transform: translate(-50%, -50%);
     color: white;
     font-family: "Times New Roman";
     margin:3%;
 }
 hr{
	border-top-color: white;
	border-top-style: solid;
}
#pp{
    position: relative;
    width: 80%;
    height: auto;
    border: 3px solid black;
    border-radius: 50%;

    margin: 8%;
}

.sidenav {
    height: inherit;
    width: 15%;
    left: 0;
    background-color: rgb(2, 2, 39);
    overflow-x: hidden;
    float: left;
    padding: 5%;

  }
  
  .sidenav a {
    padding: 3px 8px 3px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Times New Roman";
    color: lightslategray;
    display: block;
  }
  .sidenav a:hover {
    color: white;
  }
.content{
    font-family: "Times New Roman";
    color: black;
    font-size: 15px;
    position: relative;
    padding: 4%;
    border: 3px solid black;
    float: left;
    width: 39.5%;
    height: inherit;
    margin: 1%;
}
h2{
    font-family: "Times New Roman";
}
.itulogo{
    float: right;
    position: relative;
    width: 19%;
    margin-top:3%;
    margin-left:3%;
    margin-right:3%;
    height: inherit;
}
#itu{
    width:100%;
    height: auto;
    margin:auto;
}
#website{
    width:10%;
    height: auto;
    margin:auto;
}
.nonbanner{
    height: inherit;
}
.nonbanner:after {
    content: "";
    display: table;
    clear: both;
  }

